# Временные файлы Python
__pycache__/
*.pyc

# Чекпоинты весов нейросети и тяжелые NumPy логи (сохраняем локально)
*.pth
*.npz
simulation_report.txt

# Локальные скрытые настройки IDE
.vscode/
.idea/
